{%extends 'base.html' %}
{%block content %}
<h2 class="form-title">Book</h2>
<form method="GET">
    <input type="text" name="q"value="{{request.GET.q}}">
    <input class="button btn-primary" type="submit" value="Search">
</form>

<table class="table table-fluid">
    <thead>
        <tr>
            <th>Book ISBN</th>
            <th>Book Name</th>
            <th>Book Dept</th>
            <th>Book Author</th>
            <th>View</th>
            {% if user.is_librarian %}
            <th>Edit</th>
            <th>Delete</th>
            {%endif%}
        </tr>
    </thead>
    <tbody>
        {% for Book in object_list %}
        <tr>
            <td>{{ Book.isbn }}</td>
            <td>{{ Book.name }}</td>
            <td>{{ Book.department }}</td>
            <td>{{ Book.author }}</td>
            <td><a href="{% url "book_detail" Book.id %}">view</a></td>
            {% if user.is_librarian %}
                <td><a href="{% url "book_update" Book.id %}">edit</a></td>
                <td><a href="{% url "book_delete" Book.id %}">delete</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if user.is_librarian %}
<a href="{% url "book_create" %}">New</a>
{% endif %}
</div>
{%endblock content%}
